@model IEnumerable<Track.Models.Store>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        @item.Address<br />
        @item.City, @item.State<br />
        @item.Phone
        <hr />
    </div>
  
    
    
}