@*@model Track.Models.Transaction*@
@model Track.ViewModels.TransactionEditViewModel
@using Track.Models

@Scripts.Render("~/bundles/jquery")

@{
    var transaction = Model.Transaction;
    var transactionItems= Model.TransactionItems;

    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.Transaction.TransactionId)

        
            <p>
                @transaction.Timestamp
            </p>
        

        <div>
            @Html.LabelFor(model => transaction.Timestamp)
        </div>
        <div>
            @Html.EditorFor(model => transaction.Timestamp)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => transaction.TotalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => transaction.TotalPrice)
            @Html.ValidationMessageFor(model => transaction.TotalPrice)
        </div>

        <div>
            @*@Html.DropDownList("StoreId")*@
            @Html.DropDownList((string)"Transaction.StoreId", (List<SelectListItem>)ViewBag.StoreId);
            
            
        </div>


        <table id="itemEditor">

            @foreach (TransactionItem item in Model.TransactionItems)
            {
                Html.RenderPartial("_TransactionItem", item);
            }

        </table>
        
        <a id="addAnother" href="#">Add another</a>

        
        <div>
            @Ajax.ActionLink("Add Item", "AddNew", new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "itemtable" });
            
            @Html.ActionLink("Back to List", "Index")


        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">

        $("#addAnother").click(function () {
            $.get('/Transaction/TransactionItemRow', function (template) {
                alert(template);
                $('#itemEditor  tr:last').after(template);
            });
        });
    </script>
}
@*$("#itemEditor").append(template);*@